name: ReadMe Micro

# Run workflow for every push to the `main` branch
on:
  push:
    branches:
      - main
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      # Run GitHub Action to sync all OpenAPI files in the repo
      # uses: readmeio/readme-micro@v[2].[0-9]+.[0-9]+
      - name: GitHub Action
        uses: readmeio/readme-micro@v2.3.0
        env:
          BASE_URL: ${{ vars.BASE_URL }}
        with:
          readme-micro: "'**/*.{yaml,yml,json}' --key=${{ secrets.README_MICRO_SECRET }}"
